body {
  background-color: #1c1c1c;
}

#buttonBox {
  max-width: 350px;
  margin: 30px auto;
  padding: 30px 120px 20px;
  background-color: #2a2a2a;
  border-radius: 15px;
  text-align: center;
}

#greeting {
  color: rgb(212, 175, 55);
  margin-top: 2px;
  margin-bottom: 35px;
  font-size: 4em;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  white-space: nowrap;
}

#instruction {
  color: rgb(212, 175, 55);
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 2px;
  font-family: "Times New Roman", Times, serif;
}

#helloBtn {
  display: block;
  margin: 20px auto;
  font-family: "Times New Roman", Times, serif;
  padding: 20px 40px;
  font-size: 2em;
  background-color: rgb(212, 175, 55);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.5s,
    transform 0.5s;
}

#helloBtn:hover {
  background-color: #bb921f;
}

#aura {
  display: block;
  margin: 30px auto;
  width: 600px;
}
